.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #777;
	padding:5px; 
	opacity: 0.8;
}
#formId{
	height:50px;
	background-color: #777;
	padding:10px; 
}
h1{
	text-align: center;
}
.weatherframes,
.weatherframes2,
.weatherframes3{
	background-color: #fff;
	text-align: center; 
	width: 33%;
	padding: 2px; 
	display: inline-block;
}
#map-canvas { 
	height: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	padding: 4px;
}
.panle-title{
	text-align: center;
}
.centeredText{
	text-align: center;
}
